# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

- Popular languages in Data Science
- Common libraries in Data Science
- Tools used in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Pandas
3. Dplyr
4. ggplot
5. Numpy

| Data Science Tools |
|:--------:|
|  Jupyter notebooks   |
|----------|
|  Apache hadoop |
|----------|
| Rstudio  |

### Below are a few examples of evaluating arithmetic expressions in Python:
1. 7*9=63
2. 9/3=3
3. 12+2=14

In [2]:
#This a simple arithmetic expression to mutiply then add integers

x = (3*4)+5

print(x)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

mins= 200
hours = mins/60
print(hours)

3.3333333333333335

## Author
Yousef Kanj